body{
    background-color: #FFFACD;
}

.menu{
  background-color: rgba(160, 82, 45, 0.3);
  padding: 2%;
  
}

.itens_menu{
  padding-top: 1%;
  line-height:1.5;
  text-align: center;
  font: 1.3em;
}

h1{
  font-size: 2em;
}

p{
    color: #D2691E;
    font: size 1.5em;

}

h1,h2{
    color:#A0522D;
    text-align: center;

}
figure{
    text-align: center;
}
.container{
   width:70%; 
   margin: auto;
}

.img_topo{
    width: 90%;
}

.img_corpo{
    width: 80%;
}
/* unvisited link */
a:link {
    color: #A0522D;
  }
  
  /* visited link */
  a:visited {
    color: 	#CD853F;
  }
  
  /* mouse over link */
  a:hover {
    color: #DEB887;
  }
  
  /* selected link */
  a:active {
    color: #F4A460;
  }
  
  footer{
    background-color: rgba(160, 82, 45, 0.3);
    padding: 0,5%;
  }