@font-face {
  font-family: OxygenMono-Regular;
  src: url(../font/OxygenMono-Regular.ttf);
}

@font-face {
  font-family: CutiveMono-Regular;
  src: url(../font/CutiveMono-Regular.ttf);
}

html{
  scroll-behavior: smooth;
}

body{
    background-color: #FFFACD;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.menu{
  background-color: rgba(160, 82, 45, 0.3);
  padding: 1%;
  font-family: CutiveMono-Regular;
  margin-bottom: 2%;
}

.itens_menu{
  line-height:1.5;
  text-align: center;
  font: 1.3em;
}

.itens_menu li {
  padding: 1px;
}

.itens_menu a:visited, .itens_menu a:link{
  color: #8B4726; 
  text-decoration: none; 
  font-weight: bolder;
}

.itens_menu a:hover{
  background-color: rgba(160, 82, 45, 0.8);
  padding: 0.5%;
}

h1{
  font-size: 2em;
}

p{
    color: #D2691E;
    font-size:  1.5em;
    line-height: 1.3;
    text-align: justify;
    font-family: 'OxygenMono-Regular', cursive;
}

h1,h2{
    color:#A0522D;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Syne Mono', monospace;
}

figure{
    text-align: center;
}

.container{
   width:70%; 
   margin: auto;
   margin-top: 23%;
}

.logo {
  text-align: center;
}

.img_logo {
  width: 20%;
  margin: 0.5%;
  text-align: center;

}

.img_topo{
    width: 90%;
}

.img_corpo{
    width: 80%;
}
/* unvisited link */
a:link {
    color: #A0522D;
  }
  
  /* visited link */
  a:visited {
    color: 	#CD853F;
  }
  
  /* mouse over link */
  a:hover {
    color: #DEB887;
  }
  
  /* selected link */
  a:active {
    color: #F4A460;
  }
  
  #mais a:link, #mais a:visited{
    color: #A0522D;
  }

  #mais a:hover{
    color: black;
  }

  footer{
    background-color: rgba(160, 82, 45, 0.3);
    padding: 1%;
    margin-top: 4%;
  }

  footer p {
    text-align: center;
    font-size: 1em;
  }

  .botao{
    background-color: rgba(205, 133, 63, 0.8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin: 2%;
    width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
  }

  .botao:hover{
    background-color: #A0522D;
  }

  .botao a:link .botao a:visited{
    color: #D2691E;
    text-decoration: none;
    font-weight: bolder;
  }

  .botao p{
    text-align: center;
  }

  section{
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .img_direita{
    float: right;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
  }

  .img_esquerda{
    float: left;
    margin-right: 2%;
    margin-top: 1.3%;
    margin-bottom: 2%;
    width: 25%;
  }

  table{
    width: 100%;
    border-collapse: collapse;
  }

  td,th{
    border: 2px solid #8B4726;
    font-family: 'OxygenMono-Regular', cursive;
    color: #D2691E;
    text-align: center;
    font-weight: bold;
    padding: 1%;
  }
  
  tr:hover {
    background-color: burlywood;
  }
 
  audio{
    width: 85%;
  }

  audio::-webkit-media-controls-panel {
    background-color: #DEB887;
  }

  input[type=text], select, input[type=email], input[type=submit], input[type=tel], input[type=message] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
  }

input[type=submit]:hover {
    background-color: #DEB887;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

 .form{
    border-radius: 15px;
    background-color: #F8F8FF;
    padding: 10px;
    margin: 1%;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

form{
    box-sizing: border-box;
}

.double {
  margin: 1%;
}
